<h2>Hallo {{ user.name }},</h2>


vielen Dank, dass du unsere App nutzt.
Wir haben für dich folgendes Pflegeheim in deiner Nähe gefunden: <br />
<br />
{{ user.pflegeheim.name }}<br />
{{ user.pflegeheim.postalCode }} {{ user.pflegeheim.city }}<br />
{{ user.pflegeheim.street}}<br />