<h3>Hallo {{ user.name }},</h3>
<p>Wir freuen uns sehr, dass Du dich bei uns registriert hast und die Aktion "Schreib mit!" des Jugendrotkreuzes Sachsen unterst&uuml;tzt. Du leistest einen wichtigen Beitrag, um die aktuelle Situation f&uuml;r alle etwas ertr&auml;glicher zu machen. Vielen Dank.</p>
<p>Bitte adressiere deinen Brief an:</p>
<blockquote>
<p>{{ user.pflegeheim.name }}<br /> {{ user.pflegeheim.street}}<br /> {{ user.pflegeheim.postalCode }} {{ user.pflegeheim.city }}</p>
</blockquote>
<p>Besuche uns auch auf <a href="https://www.instagram.com/jrksachsen/">Instagram</a> und auf unserer <a href="https://jrksachsen.de/">Website</a>. Hier findest du eine Anregungen f&uuml;r deinen ersten Brief, eine Anleitung zum Adressieren und Absenden und eine Menge anderer spannender Themen.</p>
<p>Viele Gr&uuml;&szlig;e,<br /> dein Jugendrotkreuz Sachsen</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Du m&ouml;chtest dich wieder austragen? Kein Problem. Schreib eine Mail mit dem Betreff "Austragen" an schreibmit@jrksachsen.de</p>
